<form action="" class="cal-form" id="js--form" method=""  onSubmit="return false;">
  <div class="title">
    <h3>Monroe County Libraries</h3>
    <p>Subscribe to the Monroe County Public Libraries calendar to see what events are taking place at your local libraries</p>
  </div>
  <div class="opt-in">
    <% @calendars.each do |calendar| %>
      <label>
        <input type="checkbox" value="<%= calendar.foreign_id %>" class="js--lib-values">
        <%= calendar.name %>
      </label>
    <% end %>
  </div>
  <button class="btn_submit">Subcribe</button>
</form>

<div class="msg-container">
  <div class="sublink-msg">
    <em>Copy and paste the following link into your calendar application</em>
    <p id="js--on-msg" class=""></p>
  </div>
  <div class="copy">
    <i class="fas fa-clipboard"></i><span>Copy</span>
  </div>
</div>

<div id="help">
  <h3>Help</h3>
  Subscribe using...
  <ul>
    <li>
      <a href="https://support.apple.com/en-us/HT202361" target="_blank">
        Apple iCloud Calendar Subscriptions
      </a>
    </li>
    <li>
      <a href="https://support.google.com/calendar/answer/37100?co=GENIE.Platform%3DDesktop&hl=en" target="_blank">
        Google Calendar (Add using a link)
      </a>
    </li>
    <li>
      <a href="https://support.office.com/en-us/article/import-or-subscribe-to-a-calendar-in-outlook-com-cff1429c-5af6-41ec-a5b4-74f2c278e98c" target="_blank">
        Outlook.com
      </a>
    </li>
  </ul>
</div>

<div id="github">
  <p>
    Made with &lt;3 by
    <a href="https://github.com/GirigiriG" target="_blank">@GirigiriG</a>,
    <a href="https://github.com/Kpable" target="_blank">@Kpable</a>,
    <a href="https://github.com/jfine" target="_blank">@jfine</a>, and
    <a href="https://github.com/kylemacey" target="_blank">@kylemacey</a>.
  </p>
  <p>
    <a href="https://github.com/585-software/mclscal" target="_blank">
      <i class="fab fa-github"></i> Find this project on GitHub
    </a>
  </p>
</div>
